@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
    width: 98%;
}
header{
    background-color: rgba(233, 81, 114,0.2);
    height: 550px;
    /* border: 1px solid black; */
    overflow: hidden;
}
.top-header{
    display: flex;
    justify-content: space-evenly;    
}
.left{
    margin: 100px 0 0 40px;
    width: 40%;
}
.left h1{
    font-size: 58px;
    font-family: Lato;
    color: #272727;
    line-height: 70px;    
}
.left p{
    margin: 20px 0;
    font-family: Lato;
    font-size: 14px;
    color: #272727;
    opacity: 60%;
}
.left button{
    padding: 15px 30px;
    background-color: #E55473;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    
}
.right{
    width: 40%;        
}
.right img{
    /* margin-top: 60px; */
    width: 85%;
    height: 100%; 
}
.feature{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
}
.feature h3{
    color: #272727;
    font-family: Lato;
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: 900;
}
.feature p{
    font-family: Lato;
    font-size: 14px;
    color: #272727;
    opacity: 60%;
}
.flowers{
    display: flex;
    justify-content: space-between;
    /* height: 500px; */
    /* border: 1px solid black; */
}
.flower-list{
    width: 32%;
    /* height: 405px; */
    /* border: 1px solid black; */
    text-align: center;
}
.flower-list .fl{
    background-color: rgba(167, 33, 98,0.2);
    border-radius: 50% 50% 0 0;
    height: 471px;
    overflow: hidden;
    text-align: center;
}
.flower-list .fl img{
   margin-top: 50px;
}

.flower-list .fl-t{
    font-family: Lato;
    text-decoration: underline;
    font-weight: 900;
    color: #272727;
    font-size: 12px;
    margin: 20px 0;
}
.support{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 30px 0;
    /* border: 1px solid black; */
    background-color: rgba(39, 39, 39,0.1);
}
.support img{
    height: 88px;
    width: 88px;
    padding: 20px 0;
}
.support p{
    font-family: Lato;
    color: #272727;
    font-size: 14px;
    opacity: 80%;
}
.deals{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    border: 1px solid black;
}
.deals .left{
    text-align: center;
    width: 30%;
    margin-top: 150px;
}
.deals .right{
    text-align: left;
    padding: 50px;
}
.deals .right img{    
    height: 100%;
    width: 50%;
}
.fl-gallery{
    display: flex;  
    justify-content: space-around;  
    width: 100%;
}
.fl-gallery img{
    width: 300px;
}
.latest-deals{
    background-image: url('assets/img/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    margin: 50px 0;
    text-align: center;
    height: 300px;
    font-family: Lato;
    border: 1px solid white;
}
.latest-deals > .deals2{
    color: #272727;    
    margin: 90px 0;  
}
.deals2 h1{
    font-size: 30px;
    margin: 10px 0;
}
.deals2 p{
    font-size: 14px;
    color: rgba(39, 39, 39,0.6);
    margin: 15px 0;
}
.deals2 input[type='email']{
    padding: 15px;
    width: 400px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;    
}
.deals2 input[type='submit']{
    padding: 14px 30px;
    background-color: #E55473;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}
footer{
    height: 250px;
    background-color: #000;
    color: white;
    text-align: center;
    font-family: Lato;
    border: 1px solid white;
}
footer h2{
margin: 80px 0 0 0;
 font-size: 30px;   
 font-weight: 900;
}
footer .f1{
    color: #E55473;
}
footer .f2{
    color: #fff;
}
footer p{
    font-size: 14px;
    color: rgba(90, 88, 88, 0.9);
    /* margin: 15px 0; */
    width: 500px;
    margin: 15px auto;
}
.copyright{
    color: rgba(90, 88, 88, 0.4);
}


